.card {
    width: 200px;
    height: 250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    place-items: center;
    border: 2px solid black;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: darkcyan;
    cursor: grab;
}

.card:active {
    cursor: grabbing;
}

.title {
    margin: 0;
}

.subtitle {
    margin: 10px 0 0;
    text-align: center;
}

@media (prefers-color-scheme: light) {
    .card {
        background-color: aliceblue;
    }

}