.main {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 10px;
}

.dateInput {
    width: 250px;
    border-radius: 8px;
    font-size: 1em;
    font-family: inherit;
    background-color: #ffffff;
    cursor: pointer;
    transition: border-color 0.25s;
}

.saveButton {
    margin-left: 20px;
    padding: 10px 15px;
    border-radius: 15px;
}

.container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.asanasContainer {
    flex-wrap: wrap;
}
